{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

    <!-- Success or error messages -->
    {% include "auctions/messages.html" %}
    
    <h2>Listing: {{ listing.title }}</h2>

    <!-- Add or remove watchlist -->
    {% if user.is_authenticated %}
        {% if watching %}
            <form action="{% url 'remove' id=listing.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm" type="submit" name="remove">Remove from Watchlist</button>
            </form>
        {% else %}
            <form action="{% url 'add' id=listing.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm" type="submit" name="add">Add to Watchlist</button>
            </form>
        {% endif %}
    {% endif %}

    <!-- Listing info -->
    <div>
        {% if listing.image_url %}
            <img class="img-fluid" alt="{{ listing.title }}" src="{{ listing.image_url }}">
        {% else %}
            <img class="img-fluid" alt="No image available" src="https://t3.ftcdn.net/jpg/04/34/72/82/240_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg">
        {% endif %}
        <p>{{ listing.description }}</p>
        <div>
            <p class="font-weight-bold mt-4">${{ listing.current_bid }}</p>
            {% if user.is_authenticated and listing.closed %}
                <p class="font-weight-medium text-primary">Auction closed.</p>
                {% if winner %}
                    <p class="font-weight-medium text-primary">Congrats, you have won the auction for this listing!</p>
                {% elif not winner and user != listing.seller %}
                    <p class="font-weight-medium text-primary">Sorry, you have not won the auction for this listing.</p>
                {% else %}
                    <p class="font-weight-medium text-primary"><span class="font-weight-bold">{{ highest_bidder.username }}</span> has won the auction.</p>
                {% endif %}
            {% endif %}
        </div>

        <!-- Bid form -->
        {% if user.is_authenticated and not listing.closed %}
            <form class="container ml-0 pl-0" action="{% url 'bid' id=listing.pk %}" method="post">
                {% csrf_token %}
                {% for field in bid_form %}
                    <div class="form-group">
                        <small>
                            <span>
                                {{ bid_count }} bid(s) so far.
                                {% if bid_count > 0 %}
                                    {% if current_bid %}
                                        Your bid is the current bid.
                                    {% else %}
                                        Your bid is not the current bid.
                                    {% endif %}
                                {% endif %}
                            </span>
                        </small>
                        <div>{{ field | as_crispy_field }}</div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>
        {% endif %}

        <!-- Listing details -->
        <div class="mt-4">
            <h3>Details</h3>
            <ul>
                <li>Listed by: <b>{{ listing.seller.username }}</b></li>
                <li>Category: {{ listing.category }}</li>
                <li>Created: {{ listing.creation_date }}</li>
            </ul>
        </div>

        <!-- Close auction -->
        {% if user.is_authenticated and not listing.closed and listing.seller == user %}
            <form action="{% url 'close' id=listing.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-3">Close Auction</button>
            </form>
        {% endif %}

        <!-- Comments -->
        {% if user.is_authenticated %}
            <div class="mt-4">
                <h3>Add a Comment</h3>

                <!-- Comment form -->
                <form class="container ml-0 pl-0" action="{% url 'comment' id=listing.pk %}" method="post">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-primary mt-3">Add comment</button>
                </form>
            </div>

            <!-- Comment List -->
            <div class="container ml-0 pl-0 mt-4 pb-4">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <div class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ comment.title }}</h5>
                                <small>{{ comment.date }}</small>
                            </div>
                            <p class="mb-1">{{ comment.content }}</p>
                            <small>{{ comment.user.get_username }}</small>
                        </li>
                    </div>
                    {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}